include LICENSE
include MANIFEST.in
include CODE_OF_CONDUCT.md
include versioneer.py

include *.bash
include *.sh
include pics/*.jpg
incldue pics/*.png
include pics/*.gif

graft current_flow_allostery
global-exclude *.py[cod] __pycache__ *.so
